<nav class="navbar">
  <a class="nav-item" routerLink="/portfolio">Projets</a>
  <a class="nav-item" routerLink="/career">Parcours</a>
  <a class="nav-item" routerLink="/home"><strong>Accueil</strong></a>
  <a class="nav-item" routerLink="/passion">Passions</a>
  <a class="nav-item" routerLink="/contact">Contact</a>

  <span class="nav-indicator"></span>
  <!--
      <button class="navbar-toggle">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      -->
</nav>

<router-outlet></router-outlet>

